.app {
}

.app_header {
  margin: 0;
}

.wrapper-chat {
  display: grid;
  grid-template-columns: 300px 350px 300px;
}

.chat_room_toolbar,
.chat_list_title,
.chat_list_item,
.chat_list_item_pinned,
.chat_room_member,
.chat_room,
.chat_room_footer_message {
  display: flex;
}

.chat_room_toolbar {
  justify-content: flex-end;
}

.chat_list {
  background-color: aquamarine;
}
.chat_room {
  background-color: aqua;
  flex-direction: column;
}

.chat_room_content {
  background-color: cadetblue;
  padding: 9px;
  border-radius: 4px;
  top: 45px;
  bottom: 70px;
  left: 0;
  right: 0;
}
.chat_room_content_container {
  background-color: #fff;
}

.chat_room_info {
  background-color: beige;
}

.receive-msg {
  text-align: left;
}

.send-msg {
  text-align: right;
}

/* @media (prefers-reduced-motion: no-preference) {
} */
