.app {
  margin: 0;
}

.app_header {
}

.wrapper_chat {
  display: grid;
  grid-template-columns: 300px 350px 300px;
}

.chat_list_title,
.chat_list_item,
.chat_list_item_pinned,
.chat_room_member,
.chat_room,
.chat_room_footer_message {
  display: flex;
}

.chat_list_container {
  background-color: aquamarine;
}

.chat_room_info_container {
  background-color: beige;
}

.chat_title {
  cursor: pointer;
}

.chat_content_container {
  background-color: #fff;
}

.chat_room {
  flex-direction: column;
}
.chat_room_container {
  background-color: aqua;
}

.chat_content {
  background-color: cadetblue;
  padding: 9px;
  border-radius: 4px;
  top: 45px;
  bottom: 70px;
  left: 0;
  right: 0;
}

.right_toolbar,
.right_toolbar > button {
  display: flex;
  justify-content: flex-end;
}

.receive_msg {
  text-align: left;
}

.send_msg {
  text-align: right;
}

/* @media (prefers-reduced-motion: no-preference) {
} */
